@page "/"
@namespace Demo.ServerSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FluentBlazor.Demo.ServerSide</title>
    <base href="~/" />
    @*<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <link href="css/site.css" rel="stylesheet" />*@
    <script src="//unpkg.com/react@16/umd/react.development.js"></script>
    <script src="//unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

    <!-- could point to local version -->
    <script src="//unpkg.com/office-ui-fabric-react/dist/office-ui-fabric-react.min.js"></script>

    <script src="_content/FluentBlazor.Components/test.js"></script>
</head>
<body>
    <app>
        <component type="typeof(FluentBlazor.Demo.ServerSide.App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
